<dialog id="dialog" class="rounded-lg bg-white p-8 shadow-2xl">
  <%- include ('instructions.ejs') %>

  <form method="dialog" class="mt-8 flex items-center justify-end text-xs">
    <button
      type="button"
      class="rounded bg-zinc-800 px-4 py-2 font-medium text-base text-white"
      id="dialog-close"
    >
      OK, thanks
    </button>
  </form>
</dialog>
