      <footer class="mt-auto py-4 text-center text-gray-700">
        <p class="copyright">Copyrights &copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved.</p>
        <p>
          Created by
          <a
            class="font-semibold text-black underline hover:text-gray-600"
            href="https://plu.us/fadl"
            target="_blank"
          >
            Mohamed Fadl
          </a>
        </p>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="js/main.js"></script>
  </body>
</html>
