<h2 class="text-xl font-semibold mb-4">
  You can generate personal access tokens in your
  <a
    class="underline text-zinc-900 hover:text-zinc-700"
    href="https://www.typeform.com"
    target="_blank"
    >Typeform</a
  >
  account. Here's how:
</h2>

<ol class="list-decimal list-inside leading-loose">
  <li>
    Log in to your account at
    <a
      class="underline text-zinc-900 hover:text-zinc-700"
      href="https://www.typeform.com"
      target="_blank"
      >Typeform</a
    >.
  </li>
  <li>
    In the upper-left corner, in the drop-down menu next to your username, click
    <strong class="">Account</strong>.
  </li>
  <li>
    In the left menu, click
    <strong class="">Personal tokens</strong>
    or
    <a
      class="underline text-zinc-900 hover:text-zinc-700"
      href="https://admin.typeform.com/user/tokens"
      target="_blank"
      >here</a
    >.
  </li>
  <li>
    Click
    <strong class="">Generate a new token</strong>.
  </li>
  <li>
    In the <em>Token name</em> field, type a name for the token to help you
    identify it.
  </li>
  <li>
    Choose needed scopes (API actions this token can perform - or permissions it
    has). See
    <a
      class="underline text-zinc-900 hover:text-zinc-700"
      href="https://developer.typeform.com/get-started/scopes/"
      target="_blank"
      >here</a
    >
    for more details on scopes.
  </li>
  <li>
    Click
    <strong class="">Generate token</strong>.
  </li>
</ol>
