<%- include ('partials/header.ejs') %>
<%# Main Content %>
<main class="my-6 text-center">
  <img
    src="/images/500.svg"
    alt="500 Error Internal Server Error"
    class="w-full max-w-2xl m-auto mb-8"
  />
  <a
    class="rounded-md bg-zinc-800 px-5 py-3 text-lg text-white shadow-md hover:bg-zinc-700 transition-colors duration-500"
    href="/"
  >
    Go to HomePage →
  </a>
</main>
<%# End Main Content %>
<%- include ('partials/footer.ejs') %>
