@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.12rem;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(241, 236, 227);
  outline: 1px solid rgb(241, 236, 227);
}

::selection {
  background: rgb(241, 236, 227);
  color: rgb(38, 38, 39);
  text-shadow: none;
}
